<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.fql.fishbone.dao.mapper.PermissionMapper">
    <resultMap id="permissionMap" type="cn.fql.fishbone.model.domain.Permission">
        <result column="id" property="id"/>
        <result column="permissioncode" property="permissioncode"/>
        <result column="permissionname" property="permissionname"/>
        <result column="category" property="category"/>
        <result column="type" property="type"/>
    </resultMap>

    <sql id="selectAllColumns">
        id,permissioncode,permissionname,category,`type`
    </sql>

    <sql id="setAllColumns">
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="permissioncode != null">permissioncode = #{permissioncode},</if>
            <if test="permissionname != null">permissionname = #{permissionname},</if>
            <if test="category != null">category = #{category},</if>
            <if test="type != null">type = #{type},</if>
        </set>
    </sql>

    <sql id="queryConditions">
        <if test="id != null">and id = #{id}</if>
        <if test="permissioncode != null">and permissioncode = #{permissioncode}</if>
        <if test="permissionname != null">and permissionname = #{permissionname}</if>
        <if test="category != null">and category = #{category}</if>
        <if test="type != null">and type = #{type}</if>
    </sql>

    <insert id="insertPermission" parameterType ="cn.fql.fishbone.model.domain.Permission">
        insert
        into
        `f_permission`
        <include refid="setAllColumns"/>
    </insert>

    <delete id="deletePermissionByRoleId">
        delete from `f_permission` where role_id=#{id}
    </delete>

    <select id="getPermissionsByRoleId" resultType="cn.fql.fishbone.model.domain.Permission" resultMap="permissionMap">
        SELECT
        p.id,p.permissioncode,p.permissionname,p.category,p.type
        from `f_role_permission` rp
        left JOIN
        `f_permission` p on rp.permission_id = p.id
        WHERE rp.role_id = #{roleId}
    </select>

    <select id="getAllPermissions" resultType="cn.fql.fishbone.model.domain.Permission" resultMap="permissionMap">
        SELECT
        <include refid="selectAllColumns"/>
        from f_permission
    </select>

    <select id="queryPermission" resultType="cn.fql.fishbone.model.domain.Permission" resultMap="permissionMap">
        select
        <include refid="selectAllColumns"/>
        from `f_permission`
        <where>
            <include refid="queryConditions"/>
        </where>
        limit #{pageCount} offset #{pageOffset}
    </select>

</mapper>