<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.fql.fishbone.dao.mapper.RoleMapper">
    <resultMap id="roleMap" type="cn.fql.fishbone.model.domain.Role">
        <result column="id" property="id"/>
        <result column="rolename" property="rolename"/>
    </resultMap>

    <sql id="selectAllColumns">
        id,rolename
    </sql>

    <sql id="setAllColumns">
        <set>
            <if test="id != null">id = #{id},</if>
            <if test="rolename != null">rolename = #{rolename},</if>
        </set>
    </sql>

    <sql id="queryConditions">
        <if test="id != null">and id = #{id}</if>
        <if test="rolename != null">and rolename = #{rolename}</if>
    </sql>

    <insert id="insertRole" useGeneratedKeys="true" keyProperty="id" parameterType="cn.fql.fishbone.model.domain.Role">
        insert into `t_role`
        <include refid="setAllColumns"/>
    </insert>

    <update id="updateRole" parameterType="cn.fql.fishbone.model.domain.Role">
        update `t_role`
        <include refid="setAllColumns"/>
        where id = #{id}
    </update>

    <delete id="deleteRole">
        delete from `t_role`
        where id = #{id}
    </delete>

    <select id="getUserRolesById" resultMap="roleMap">
        select r.id,r.rolename from t_user_role ur left join t_role r on ur.role_id = r.id where ur.user_id = #{id}
    </select>

    <select id="queryRole" resultType="cn.fql.fishbone.model.domain.Role" resultMap="roleMap">
        select
        <include refid="selectAllColumns"/>
        from `t_role`
        <where>
            <include refid="queryConditions"/>
        </where>
        limit #{pageCount} offset #{pageOffset}
    </select>
    <select id="getRoleById" resultType="cn.fql.fishbone.model.domain.Role" resultMap="roleMap">
        select
        <include refid="selectAllColumns"/>
        from `t_role` where id = #{id}
    </select>

    <select id="getRolesByUserId" resultType="cn.fql.fishbone.model.domain.Role">
        SELECT
        r.id,r.rolename
        from `t_user_role` ur
        left JOIN
        `t_role` r on ur.role_id = r.id
        WHERE ur.user_id = #{userId}
    </select>


</mapper>